body{
	background: #710079;	
}
.custom-color{
	color: #000!important;
	background: #60FF60;
	border-color: #8FA966!important;
}
.custom-color-inverse{
	color: #fff!important;
	background: #510059;
	border-color: #510059!important;
}
.text-justify{
	text-align: justify;
}
.custom-menu-item:hover{
	background-color:  #72C772!important;
}